@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "primeng/resources/themes/arya-orange/theme.css";
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:ital,wght@0,300;1,300&family=Red+Hat+Mono:wght@300&family=Space+Mono&display=swap');

:root {
  --color1: #ffbd6e;
  --color2: #202424;
  --color3: #fffaeb;
}

body, html {
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}
