.total {
  background: linear-gradient(to right, #202424, #3a3a3a);
}

.options1, .logo, .options2 {
  color: var(--color1);
}

.logo {
  text-align: center;
}

.options2 {
  display: flex;
}

.options1 {
  padding: 5rem;
  width: 20rem;
}


.logo h1 {
  font-family: 'Lora', serif;
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 2.2rem;
}

.l1, .l2, .l3, .l4 {
  margin: 0;
  box-sizing: border-box;
}

.l1, .l2, .l3, .l4 {
  color: var(--color1);
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Mono Space', monospace;
  letter-spacing: 2px;
  border: none;
}

.l1::after, .l2::after, .l3::after, .l4::after {
  content: '';
  height: 1px;
  width: 0%;
  background-color: var(--color1);
  display: block;
  transition: .5s ease-in-out;
}

.l1:hover::after {
  content: '';
  height: 1px;
  width: 75%;
  background-color: var(--color1);
  display: block;
  transition: .5s ease-in-out;
}

.l2:hover::after {
  content: '';
  height: 1px;
  width: 62%;
  background-color: var(--color1);
  display: block;
  transition: .5s ease-in-out;
}

.l3:hover::after {
  content: '';
  height: 1px;
  width: 88%;
  background-color: var(--color1);
  display: block;
  transition: .5s ease-in-out;
}

.l4:hover::after {
  content: '';
  height: 1px;
  width: 56.5%;
  background-color: var(--color1);
  display: block;
  transition: .5s ease-in-out;
}

@media (max-width: 900px) {
  .options2 {
    display: none;
  }

  .options1 {
    padding: 3rem;
    height: 100%;
    width: 40%;
  }

  .logo {
    width: 60%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
  }
}
