<div class="flex flex-row w-screen h-7rem align-items-center justify-content-between total">
  <div class="options1 flex align-items-center">
    <i class="pi pi-bars text-5xl cursor-pointer" (click)="teste()"></i>
  </div>
  <div class="logo">
    <h1>LONELLO</h1>
  </div>
  <div class="options2 w-20rem justify-content-evenly">
    <i class="pi pi-shopping-cart text-5xl cursor-pointer"></i>
    <i class="pi pi-user text-5xl cursor-pointer"></i>
  </div>
</div>
<p-sidebar [(visible)]="mobileMenu">
  <ul>
    <li>Meu carrinho</li>
    <li>Meu perfil</li>
    <li></li>
    <li></li>
  </ul>
</p-sidebar>
